// Navigation Styles here

header {
    margin: 24px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    nav {
        max-width: 50%;
        font-size: 16px;
        a {
            text-decoration: none;
            color: black;
            margin-right: 31px;
            margin-left: -4px;
        }
    }
}